body {
}
/* GiaoDien */
* {
    margin: 0;
    /*sát lề*/
    padding: 0;
    /**/
    box-sizing: border-box;
}

body {
    font-family: "Poppins" sans-serif;
}

.header {
    /*Tạo background gradient cho class header*/
    background: yellow;
    
}

/* .header .row {
    margin-top: 70px;
} */

.container {
    max-width: 1300px;
    /* margin: auto; */
    margin-left: 90px;
    margin-right: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: inline-block;
        list-style-type: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: black;
}

.btnExplore {
    background-color: red;
    border-radius: 10px;
    padding: 4px;
    font-size: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row {
    margin-top: 10px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 30px 0;
    }

    .col-2 p {
        line-height: 20px;
        font-size: 20px;
        margin: 10px auto;
    }

/* Danh mục - categories*/
.small-container {
    min-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30%;
}

    .col-3 img {
        width: 100%;
    }

/* end cateegories */

/*product display */
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title::after {
        content: "";
        background: red;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}

    .col-4 img {
        width: 100%;
    }
    /* css chuyển động khi rê chuột hover vào sp */
    .col-4:hover {
        transform: translateY(-5px);
    }
/* set màu và size chữ cho sp */
h4 {
    color: #555;
    font-size: normal;
}
/* set màu cho rating sp */
.rating .fa {
    color: red;
}







/*-----*/
/* Dropdown Menu */
.dropbtn {
    color: black;
    padding: 10px;
    font-size: 15px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            text-align: left;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.giohang {
    font-size: 30px;
    width: 90%;
    margin: 20px;
    margin-left: 70px;
}

table, td, th {
    border-bottom: 0.5px rgb(65, 64, 64) solid;
    border-collapse: collapse;
}

td, th {
    text-align: center;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    min-width: 120px;
    border-radius: 30px;
    padding: 5px;
}

    .btn:hover {
        opacity: 0.5;
    }

.btn-muangay {
    background-color: rgb(209, 9, 9);
}

.btn-themvaogiohang {
    background-color: rgb(77, 146, 7);
}




/* ChiTietSanPham */
.container_mota {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 10px;
}

.gioithieu {
    /* canh le gioi thieu */
    margin: 0px 20px;
    padding-top: 15px;
}

.gia {
    border: 5px;
}

.buttons_added {
    border: 5px;
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    min-width: 100px;
    border-radius: 50px;
    padding: 10px;
    /* position: relative;
    top: 0px       */
}

    .btn:hover {
        opacity: 0.5;
    }

.btn-muangay {
    background-color: rgb(209, 9, 9);
}

.btn-themvaogiohang {
    background-color: rgb(77, 146, 7);
}


  

 
