<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Header");
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Dan.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    @Html.Partial("Footer");

</body>
</html>
