
@{
    ViewBag.Title = "giayTheoNSX";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color: red">GIÀY THEO HÃNG</h3>
<div class="row">
    @foreach (var giay in Model)
    {
        <div class="col-4">
            <div class="thumbnail">
                <a href="@Url.Action("Detail", "Shoes",new { id=giay.ID_Product})">
                    <img src="@giay.Img" width="200" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @giay.NameP
                        <br />
                        <p style="color: red">Giá: <span>@String.Format("{0:0,0}", giay.Price)</span> VNĐ</p>
                    </h4>
                    <p></p>
                </div>
                <div class="rating">
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

